<div class="details">
    <div class="details--avatar">
        <img src="" alt="">
    </div>
    <div class="details--content">
        <div class="details--content-header">
            <div>
                <button type="button" class="btn">
                    <i class="material-icons">subdirectory_arrow_left</i>
                </button>
                <h3>Addie Hernandez</h3>
            </div>
            <div>
                <button type="button" class="btn">
                    <i class="material-icons">favorite_outline</i>
                </button>
                <button type="button" class="btn">
                    <i class="material-icons">edit</i>
                </button>
            </div>
        </div>

        <div class="details--content-body">
            <div class="item">
                <div>
                    <i class="material-icons">email</i>
                    <span>email</span>
                </div>
                <div>
                    <p>addie.hernandez@gmail.com</p>
                </div>
            </div>

            <div class="item">
                <div>
                    <i class="material-icons">phone</i>
                    <span>numbers</span>
                </div>

                <div>
                    <div class="item--number">
                        <span>HOME</span>
                        <p>+384 31 312 123</p>
                    </div>

                    <div class="item--number">
                        <span>WORK</span>
                        <p>+384 31 312 123</p>
                    </div>

                    <div class="item--number">
                        <span>CELL</span>
                        <p>+384 31 312 123</p>
                    </div>

                    <div class="item--number">
                        <span>HUSBAND</span>
                        <p>+384 31 312 123</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>